.jumbotron {
    background-size: 100% 100%;
    height: 30rem;
}
.background-blue {
    background-color: #a9d8eb;
}
.profile-photo {
    border-radius: 50%;
    width: 15rem;
}
.page-section{
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.heading-text {
    padding-bottom: 2rem;
}
